{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    body{
        background-color: #eaeaec;
    }
    #process {
        padding-bottom: 200px;
        padding-top: 50px;
        width: 100%;
    }

    /*au dessus des step*/

    .process-description {
        width: 100%;
        text-align: center;
        h1{
            font-size: 36px;
            margin: 80px 0 20px 0;
        }
        p{
            font-size: 20px;
            margin: 0 0 40px 0;
        }
    }

    /*step containeur*/

    .process-step-container {
        height: 300px;
        width: 100%;
        display: flex;
        margin: 0 auto;
    }

    /*step card*/
    .process-step {
        height: 80%;
        width: 30%;
        margin: auto;
        border-radius: 25px;
        background-color: white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        img{
            height: 50px;
            width: 50px;
        }

        img,h2,p{
            margin-left: 25px;
            margin-top: 25px;
        }
    }
</style>



    <div id="process">
        <div class="process-description">
            <h1>Evenement à venir :</h1>
            <p>Le BDE (Bureau Des Étudiants) de votre école vous a organiser diffrent evenement en partenaria avec EventCampus</p>
        </div>
        <div class="process-step-container">
            <div class="process-step">
                <img src="/image/Icone-evenement.png" alt="">
                <h2>{{ evenements[2].titre }}</h2>
                <p>{{ evenements[2].description }}</p>
            </div>
            <div class="process-step">
                <img src="/image/Icone-evenement.png" alt="">
                <h2>{{  evenements[4].titre }}</h2>
                <p>{{ evenements[4].description }}</p>
            </div>
            <div class="process-step">
                <img src="/image/Icone-evenement.png" alt="">
                <h2>{{ evenements[6].titre }}</h2>
                <p>{{ evenements[4].description }}</p>
            </div>
        </div>
    </div>
{% endblock %}
